<h1>Craigslist Jr Listings</h1>

<% @categories.each do |category| %>
<h2><%= category.topic %>  <%= link_to 'new', posts_path(category, @post) %></h2>
  <% @posts.each do |post| %>
    <% if post.category_id == category.id %>
      <ul>
        <li><%= post.price %>
        <li><%= post.title %>
        <li><%= post.description %>
      </ul>
    <% end %>
  <% end %>
<% end %>
